In [1]:
#Import libraries

import requests
import pandas as pd
import numpy as np

In [2]:
#Configure API

url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

In [3]:
r = requests.get(url)

In [4]:
json = r.json()

In [5]:
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [6]:
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [7]:
#List of all columns

elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [8]:
#Selecting columns wanted

slim_elements_df = elements_df[['first_name','second_name','team','element_type','selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points']]

In [9]:
slim_elements_df.head()

,first_name,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points
0,Mesut,Özil,1,3,1.7,70,1439,0,7.6,53
1,Sokratis,Papastathopoulos,1,2,0.4,50,1696,0,11.4,57
2,David,Luiz Moreira Marinho,1,2,2.2,55,2809,0,17.1,94
3,Pierre-Emerick,Aubameyang,1,3,46.1,120,3136,0,17.1,205
4,Cédric,Soares,1,2,0.6,50,1553,0,12.2,61

In [10]:
slim_elements_df['position'] = slim_elements_df.element_type.map(elements_types_df.set_index('id').singular_name)

C:\Users\Conor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
slim_elements_df.head()

,first_name,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,position
0,Mesut,Özil,1,3,1.7,70,1439,0,7.6,53,Midfielder
1,Sokratis,Papastathopoulos,1,2,0.4,50,1696,0,11.4,57,Defender
2,David,Luiz Moreira Marinho,1,2,2.2,55,2809,0,17.1,94,Defender
3,Pierre-Emerick,Aubameyang,1,3,46.1,120,3136,0,17.1,205,Midfielder
4,Cédric,Soares,1,2,0.6,50,1553,0,12.2,61,Defender

In [12]:
slim_elements_df['team'] = slim_elements_df.team.map(teams_df.set_index('id').name)

C:\Users\Conor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
slim_elements_df.head()

,first_name,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,position
0,Mesut,Özil,Arsenal,3,1.7,70,1439,0,7.6,53,Midfielder
1,Sokratis,Papastathopoulos,Arsenal,2,0.4,50,1696,0,11.4,57,Defender
2,David,Luiz Moreira Marinho,Arsenal,2,2.2,55,2809,0,17.1,94,Defender
3,Pierre-Emerick,Aubameyang,Arsenal,3,46.1,120,3136,0,17.1,205,Midfielder
4,Cédric,Soares,Arsenal,2,0.6,50,1553,0,12.2,61,Defender

In [14]:
slim_elements_df['value'] = slim_elements_df.value_season.astype(float)

C:\Users\Conor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
slim_elements_df.sort_values('value',ascending=False).tail(20)

,first_name,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,position,value
219,Danny,Ward,Leicester,1,0.2,45,0,0,0.0,0,Goalkeeper,0.0
223,Daniel,Amartey,Leicester,2,1.3,40,0,0,0.0,0,Defender,0.0
232,Filip,Benkovic,Leicester,2,0.2,45,0,0,0.0,0,Defender,0.0
236,Timothy,Castagne,Leicester,2,1.0,55,0,0,0.0,0,Defender,0.0
237,Nampalys,Mendy,Leicester,3,0.0,45,288,0,0.0,11,Midfielder,0.0
238,Pablo,Hernández Domínguez,Leeds,3,2.2,60,0,0,0.0,0,Midfielder,0.0
239,Francisco,Casilla Cortés,Leeds,1,3.0,45,0,0,0.0,0,Goalkeeper,0.0
240,Liam,Cooper,Leeds,2,1.0,45,0,0,0.0,0,Defender,0.0
241,Barry,Douglas,Leeds,2,16.3,40,0,0,0.0,0,Defender,0.0
242,Luke,Ayling,Leeds,2,4.2,45,0,0,0.0,0,Defender,0.0
243,Mateusz,Klich,Leeds,3,0.7,55,0,0,0.0,0,Midfielder,0.0
244,Adam,Forshaw,Leeds,3,0.1,50,0,0,0.0,0,Midfielder,0.0
245,Stuart,Dallas,Leeds,2,4.8,45,0,0,0.0,0,Defender,0.0
246,Ezgjan,Alioski,Leeds,2,0.9,45,0,0,0.0,0,Defender,0.0
247,Patrick,Bamford,Leeds,4,4.6,55,0,0,0.0,0,Forward,0.0
248,Jack,Harrison,Leeds,3,0.6,55,0,0,0.0,0,Midfielder,0.0
249,Kalvin,Phillips,Leeds,3,2.5,50,0,0,0.0,0,Midfielder,0.0
250,Hélder Wander,Sousa de Azevedo e Costa,Leeds,3,0.3,55,0,0,0.0,0,Midfielder,0.0
251,Tyler,Roberts,Leeds,3,0.1,50,0,0,0.0,0,Midfielder,0.0
520,Vitor,Ferreira,Wolves,3,0.0,50,0,0,0.0,0,Midfielder,0.0

In [16]:
model_elements_df = slim_elements_df[['first_name','second_name','team', 'position','selected_by_percent','now_cost','total_points']]

In [17]:
model_elements_df.head()

,first_name,second_name,team,position,selected_by_percent,now_cost,total_points
0,Mesut,Özil,Arsenal,Midfielder,1.7,70,53
1,Sokratis,Papastathopoulos,Arsenal,Defender,0.4,50,57
2,David,Luiz Moreira Marinho,Arsenal,Defender,2.2,55,94
3,Pierre-Emerick,Aubameyang,Arsenal,Midfielder,46.1,120,205
4,Cédric,Soares,Arsenal,Defender,0.6,50,61

# Adding points to dataframe

In [18]:
Points = {'position' : ['Goalkeeper', 'Defender', 'Midfielder', 'Forward'],
            'CS Points' : [4, 4, 1, 0],
             '1Goal Points' : [6, 6, 5, 4],
                '2Goal Points' : [12, 12, 10, 8]}

In [19]:
fullPoints = pd.DataFrame(Points, columns = ['position', 'CS Points', '1Goal Points', '2Goal Points'])

In [20]:
print(fullPoints)

     position  CS Points  1Goal Points  2Goal Points
0  Goalkeeper          4             6            12
1    Defender          4             6            12
2  Midfielder          1             5            10
3     Forward          0             4             8

In [21]:
inner_join = pd.merge(model_elements_df,
                     fullPoints,
                     on = 'position',
                     how = 'left')

inner_join

,first_name,second_name,team,position,selected_by_percent,now_cost,total_points,CS Points,1Goal Points,2Goal Points
0,Mesut,Özil,Arsenal,Midfielder,1.7,70,53,1,5,10
1,Sokratis,Papastathopoulos,Arsenal,Defender,0.4,50,57,4,6,12
2,David,Luiz Moreira Marinho,Arsenal,Defender,2.2,55,94,4,6,12
3,Pierre-Emerick,Aubameyang,Arsenal,Midfielder,46.1,120,205,1,5,10
4,Cédric,Soares,Arsenal,Defender,0.6,50,61,4,6,12
...,...,...,...,...,...,...,...,...,...,...
516,Bruno André,Cavaco Jordao,Wolves,Midfielder,0.6,45,1,1,5,10
517,Leonardo,Campana,Wolves,Forward,0.3,50,0,0,4,8
518,Fabio,Silva,Wolves,Forward,1.1,55,0,0,4,8
519,Fernando,Marçal,Wolves,Defender,0.3,50,0,4,6,12
520,Vitor,Ferreira,Wolves,Midfielder,0.0,50,0,1,5,10

In [22]:
inner_join["Selection"] = inner_join["first_name"] + " " + inner_join["second_name"]

In [23]:
inner_join

,first_name,second_name,team,position,selected_by_percent,now_cost,total_points,CS Points,1Goal Points,2Goal Points,Selection
0,Mesut,Özil,Arsenal,Midfielder,1.7,70,53,1,5,10,Mesut Özil
1,Sokratis,Papastathopoulos,Arsenal,Defender,0.4,50,57,4,6,12,Sokratis Papastathopoulos
2,David,Luiz Moreira Marinho,Arsenal,Defender,2.2,55,94,4,6,12,David Luiz Moreira Marinho
3,Pierre-Emerick,Aubameyang,Arsenal,Midfielder,46.1,120,205,1,5,10,Pierre-Emerick Aubameyang
4,Cédric,Soares,Arsenal,Defender,0.6,50,61,4,6,12,Cédric Soares
...,...,...,...,...,...,...,...,...,...,...,...
516,Bruno André,Cavaco Jordao,Wolves,Midfielder,0.6,45,1,1,5,10,Bruno André Cavaco Jordao
517,Leonardo,Campana,Wolves,Forward,0.3,50,0,0,4,8,Leonardo Campana
518,Fabio,Silva,Wolves,Forward,1.1,55,0,0,4,8,Fabio Silva
519,Fernando,Marçal,Wolves,Defender,0.3,50,0,4,6,12,Fernando Marçal
520,Vitor,Ferreira,Wolves,Midfielder,0.0,50,0,1,5,10,Vitor Ferreira

# Reading in odds data

In [24]:
anytime0 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\anytime0.csv')
anytime1 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\anytime1.csv')
anytime2 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\anytime2.csv')
anytime3 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\anytime3.csv')
anytime4 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\anytime4.csv')
anytime5 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\anytime5.csv')
anytime6 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\anytime6.csv')
anytime7 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\anytime7.csv')
anytime = merged_df = pd.concat([anytime0,anytime1,anytime2,anytime3,anytime4,anytime5,anytime6,anytime7])

In [25]:
goals0 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\2goal0.csv')
goals1 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\2goal1.csv')
goals2 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\2goal2.csv')
goals3 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\2goal3.csv')
goals4 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\2goal4.csv')
goals5 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\2goal5.csv')
goals6 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\2goal6.csv')
goals7 = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\2goal7.csv')
goals = merged_df = pd.concat([goals0,goals1,goals2,goals3,goals4,goals5,goals6,goals7])

In [26]:
new_table = pd.merge(inner_join,  
                      anytime,  
                      on ='Selection',  
                      how = 'inner')

In [27]:
new_table_2 = pd.merge(new_table,  
                      goals,  
                      on ='Selection',  
                      how = 'inner')

In [28]:
cleansheetOdds = pd.read_csv(r'C:\Users\Conor\Documents\FPL\GW1\cleansheet1.csv')

In [29]:
final_table = pd.merge(new_table_2,  
                      cleansheetOdds,  
                      on ='team',  
                      how = 'inner')
final_table

,first_name,second_name,team,position,selected_by_percent,now_cost,total_points,CS Points,1Goal Points,2Goal Points,Selection,Betfair SB,Odds,odds
0,Pierre-Emerick,Aubameyang,Arsenal,Midfielder,46.1,120,205,1,5,10,Pierre-Emerick Aubameyang,1.70,4.5,2.4
1,Alexandre,Lacazette,Arsenal,Forward,2.9,85,118,0,4,8,Alexandre Lacazette,2.20,7.5,2.4
2,Shkodran,Mustafi,Arsenal,Defender,0.0,50,43,4,6,12,Shkodran Mustafi,6.50,1.0,2.4
3,Granit,Xhaka,Arsenal,Midfielder,0.7,55,73,1,5,10,Granit Xhaka,8.50,101.0,2.4
4,Calum,Chambers,Arsenal,Defender,0.0,45,42,4,6,12,Calum Chambers,10.00,1.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Conor,Coady,Wolves,Defender,9.0,50,118,4,6,12,Conor Coady,21.00,751.0,2.5
236,Leander,Dendoncker,Wolves,Midfielder,2.7,50,100,1,5,10,Leander Dendoncker,8.00,66.0,2.5
237,Oskar,Buur,Wolves,Defender,1.8,40,0,4,6,12,Oskar Buur,15.00,401.0,2.5
238,Diogo,Jota,Wolves,Midfielder,3.7,65,105,1,5,10,Diogo Jota,3.75,26.0,2.5
239,Leonardo,Campana,Wolves,Forward,0.3,50,0,0,4,8,Leonardo Campana,4.20,29.0,2.5

In [30]:
forecast = final_table[['Selection', 'team', 'position', 'now_cost', 'CS Points', '1Goal Points', '2Goal Points', 'odds', 'Betfair SB', 'Odds']]

In [31]:
forecast.columns = ['Full Name', 'Team', 'Position', 'Price', 'CS Points', '1 Goal Points', '2 Goal Points', 'CS Odds', 'Anytime Odds', '2 or More Odds']

In [32]:
forecast['Price'] = (forecast['Price'] / 10)
forecast

C:\Users\Conor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Full Name,Team,Position,Price,CS Points,1 Goal Points,2 Goal Points,CS Odds,Anytime Odds,2 or More Odds
0,Pierre-Emerick Aubameyang,Arsenal,Midfielder,12.0,1,5,10,2.4,1.70,4.5
1,Alexandre Lacazette,Arsenal,Forward,8.5,0,4,8,2.4,2.20,7.5
2,Shkodran Mustafi,Arsenal,Defender,5.0,4,6,12,2.4,6.50,1.0
3,Granit Xhaka,Arsenal,Midfielder,5.5,1,5,10,2.4,8.50,101.0
4,Calum Chambers,Arsenal,Defender,4.5,4,6,12,2.4,10.00,1.0
...,...,...,...,...,...,...,...,...,...,...
235,Conor Coady,Wolves,Defender,5.0,4,6,12,2.5,21.00,751.0
236,Leander Dendoncker,Wolves,Midfielder,5.0,1,5,10,2.5,8.00,66.0
237,Oskar Buur,Wolves,Defender,4.0,4,6,12,2.5,15.00,401.0
238,Diogo Jota,Wolves,Midfielder,6.5,1,5,10,2.5,3.75,26.0
239,Leonardo Campana,Wolves,Forward,5.0,0,4,8,2.5,4.20,29.0

In [33]:
forecast['Cleansheet Probability'] = (1 / forecast['CS Odds']) 
forecast['1 Goal Probability'] = (1 / forecast['Anytime Odds'])
forecast['2 Goal Probability'] = (1 / forecast['2 or More Odds'])

C:\Users\Conor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Conor\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Conor\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [34]:
forecast['Cleansheet Expected'] = forecast['Cleansheet Probability'] * forecast['CS Points']

In [35]:
forecast['Anytime Expected'] = forecast['1 Goal Probability'] * forecast['1 Goal Points']

In [36]:
forecast['2 Goal Expected'] = forecast['2 Goal Probability'] * forecast['2 Goal Points']

In [37]:
forecast['Total Forecasted Points'] = (forecast['Cleansheet Expected'] + forecast['Anytime Expected'] + forecast['2 Goal Expected'])

In [45]:
forecast['PPM'] = forecast['Total Forecasted Points'] / forecast['Price']

In [46]:
forecastFinal = forecast[['Full Name', 'Team', 'Position', 'Price', 'Total Forecasted Points', 'PPM']]

In [47]:
forecastFinal

,Full Name,Team,Position,Price,Total Forecasted Points,PPM
0,Pierre-Emerick Aubameyang,Arsenal,Midfielder,12.0,5.580065,0.465005
1,Alexandre Lacazette,Arsenal,Forward,8.5,2.884848,0.339394
2,Shkodran Mustafi,Arsenal,Defender,5.0,14.589744,2.917949
3,Granit Xhaka,Arsenal,Midfielder,5.5,1.103912,0.200711
4,Calum Chambers,Arsenal,Defender,4.5,14.266667,3.170370
...,...,...,...,...,...,...
235,Conor Coady,Wolves,Defender,5.0,1.901693,0.380339
236,Leander Dendoncker,Wolves,Midfielder,5.0,1.176515,0.235303
237,Oskar Buur,Wolves,Defender,4.0,2.029925,0.507481
238,Diogo Jota,Wolves,Midfielder,6.5,2.117949,0.325838
239,Leonardo Campana,Wolves,Forward,5.0,1.228243,0.245649

In [48]:
forecastFinal.to_csv(r'C:\Users\Conor\Documents\FPL\GW1\GW1_forecast.csv', index = False)